html,
body {
  margin: 0;
  padding: 0;
}

.fullscreen {
  width: 100%;
  min-height: 100vh;
  height: -webkit-fill-available;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fullscreen > * {
  padding: 1rem;
}

.color-picker-container {
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-color-picker {
  margin-top: 1rem;
}

.hide-color-picker {
  display: none;
}

.color-picker-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

.color-picker-button:hover {
  box-shadow: -1px 8px 16px -7px rgba(86, 203, 227, 0.75);
  -webkit-box-shadow: -1px 8px 16px -7px rgba(86, 203, 227, 0.75);
  -moz-box-shadow: -1px 8px 16px -7px rgba(86, 203, 227, 0.75);
}
